/* 
    Document   : vnstyle
    Created on : 2011-07-13, 15:15:06
    Author     : babor
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body { 
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h1.title {
    color: #FF0000;
    text-align: left;
    text-indent: 10px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: bold;
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-top: 10px;
}

h1.titletype {
    color: #FF0000;
    text-align: left;
    text-indent: 10px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
}

img.moduleimage {

    background-color: #ffffff;
    width: 150px;
    height: 28px;
    margin-right: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}
